@import "../styles/mixin";

.Rectangle {
  width: 1440px;
  height: 900px;
  margin: 0 auto;
  
  .background {
    width: 1440px;
    height: 755px;
    margin: 0 auto;
    
    background-color: #58AEE6;
  }

  div {
    width: 1300px;
    margin: 0 auto;
    padding: 40px 0px 0px ;

    h1 {
      color: #fff;
      font-family: 'Nunito', sans-serif;
      font-size: 52px;
      font-weight: 700;
      line-height: 110%;
      letter-spacing: 1px;
      text-align: left;
    }

    p {
      color: #fff;
      font-family: 'Nunito', sans-serif;
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: left;
      width: 897px;
      height: 10px;
    }
    
    .p {
      color: rgb(255, 255, 255);
      font-family: 'Nunito', sans-serif;
      font-size: 24px;
      font-weight: 800;
      line-height: 130%;
      letter-spacing: 1px;
      text-align: left;
      height: 10px;
    }
  }

  .Rectangle-container {
    display: flex;
    @include flexbox(space-between, center);

    img {
      width: 300px;
      border-radius: 1%;
    }
  }

  .Rectangle_cursor {
    width: 200px;
    position: relative;
    left: 655px;
    bottom: 85px;

    img {
      width: 200px;
    }
  }

  .pause_images {
    display: flex;
    position: relative;
    bottom: 555px;

    .pause {
      img {
        // cursor: pointer;
      }
    }
  }
}