.Сonsultation_2 {
  width: 1440px;
  margin: 0 auto;
  height: 174px;
  position: relative;
  top: 90px;

  .Сonsultation-container_2 {
    height: 80px;
    background-color: rgb(45, 47, 48);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    img {
      cursor: pointer;
      object-fit: cover;
      image-rendering: crisp-edges;
    }

    p {
      color: rgb(255, 255, 255);
      font-family: 'Nunito', sans-serif;
      font-size: 38px;
      font-weight: 700;
      line-height: 110%;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}